@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null; //makes it so it wont have header & footer or bootstrap
}

<form method='post'>
    <input type='text' name='name'/>
    <input type='submit' value='Greet Me!'/>
</form>
